<%- include('./_include/common/_head', {
props: {
title: 'TOPページのタイトル',
desc: 'TOPページの説明文',
url: '',
type: 'website',
}
}) -%>
<div id="pagetop" class="l-container">
    <!-- l-header START -->
    <header class="l-header _close" role="banner">
        <div class="l-header__inner">
            <div class="l-header__title"><a class="l-header__titleLink" href="https://wd-flat.com/">
                    <span class="l-header__titleName">株式会社FLAT</span>
                    <span class="l-header__titleDiscription">渋谷のコーディング専門プロダクション</span>
                </a></div>
            <div class="c-hamburger js-hamburger">
                <button class="hamburger" type="button">
                    <span class="menu-trigger"><span></span> <span></span> <span></span> </span>
                </button>
            </div>
            <!-- l-gnav START -->
            <nav class="l-gnav" role="navigation">
                <div class="l-gnav__title">
                    <span class="l-gnav__titleName">株式会社FLAT</span>
                    <span class="l-gnav__titleDiscription">渋谷のコーディング専門プロダクション </span>
                </div>
                <ul class="l-gnav__list">
                    <li class="l-gnav__item _about"><a href="https://wd-flat.com/about/">会社紹介</a></li>
                    <li class="l-gnav__item _info"><a href="https://wd-flat.com/info/">お知らせ</a></li>
                    <li class="l-gnav__item _service"><a href="https://wd-flat.com/service/">サービス</a></li>
                    <li class="l-gnav__item _works"><a href="https://wd-flat.com/works/">制作実績</a></li>
                    <li class="l-gnav__item _recruit"><a href="https://wd-flat.com/recruit/">採用情報</a></li>
                    <li class="l-gnav__item _contact"><a href="https://wd-flat.com/contact/">お問い合わせ</a></li>
                </ul>
            </nav> <!-- l-gnav END -->
        </div>
    </header>
    <!-- l-header END -->
    <div class="l-contents _w995">
        <main class="l-main" role="main">
            <section class="p-section">
                <div class="p-sectionHeader"><h1 class="p-sectionHeader__title"><span class="p-sectionHeader__titleEN">Sub Title</span>
                        <span class="p-sectionHeader__titleJP">見出しが入ります。見出しが入ります。</h1>
                    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p></div>
            </section>
            <section class="p-section">
                <div class="p-sectionHeader"><h1 class="p-sectionHeader__title"><span class="p-sectionHeader__titleEN">Sub Title</span>
                        <span class="p-sectionHeader__titleJP">見出しが入ります。見出しが入ります。</h1>
                    <p>
                        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
            </section>
            <section class="p-section">
                <div class="p-sectionHeader"><h1 class="p-sectionHeader__title"><span class="p-sectionHeader__titleEN">Sub Title</span>
                        <span class="p-sectionHeader__titleJP">見出しが入ります。見出しが入ります。</h1>
                    <p>
                        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
            </section>
            <section class="p-section">
                <div class="p-sectionHeader"><h1 class="p-sectionHeader__title"><span class="p-sectionHeader__titleEN">Sub Title</span>
                        <span class="p-sectionHeader__titleJP">見出しが入ります。見出しが入ります。</h1>
                    <p>
                        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
            </section>
            <section class="p-section">
                <div class="p-sectionHeader"><h1 class="p-sectionHeader__title"><span class="p-sectionHeader__titleEN">Sub Title</span>
                        <span class="p-sectionHeader__titleJP">見出しが入ります。見出しが入ります。</h1>
                    <p>
                        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
            </section>
            <section class="p-section">
                <div class="p-sectionHeader"><h1 class="p-sectionHeader__title"><span class="p-sectionHeader__titleEN">Sub Title</span>
                        <span class="p-sectionHeader__titleJP">見出しが入ります。見出しが入ります。</h1>
                    <p>
                        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
            </section>
        </main>
    </div>
        <%- include('./_include/_l-footer') -%>
    </div>
</body>
</html>