<%- include('./_include/common/_head', {
props: {
title: 'TOPページのタイトル',
desc: 'TOPページの説明文',
url: '',
type: 'website',
}
}) -%>
<div id="pagetop" class="l-container">
    <%- include('./_include/_l-header') -%>
    <main class="l-main">
        <%- include('./_include/_c-mainVisual') -%>
        <div class="l-contents _w995">
                <section class="l-sectionTop">
                    <h2 class="c-heading01">タイトルが入ります。</span></h2>
                    <p>本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。</p>
                </section>
        </div>
    </main>
</div>
    <%- include('./_include/_l-footer') -%>
</body>
</html>
