<div class="c-mainVisual">
    <div class="c-mainVisual__inner">
        <h1 class="c-mainVisual__heading">TOPページタイトル</h1>
    </div>
    <div class="c-mainVisual__background">
        <picture>
            <source srcset="http://placehold.it/800x300" type="image/jpeg" media="(max-width: 768px)">
            <img src="http://placehold.it/1600x600" alt="" width="1600" height="600" decoding="async" class="c-mainVisual__backgroundImage">
        </picture>
    </div>
</div>
