<nav id="menu" class="l-globalNavigation" aria-hidden="true">
    <ul class="l-globalNavigation__list">
        <li class="l-globalNavigation__item">
            <a href="" class="l-globalNavigation__itemLink">MENU</a>
        </li>
        <li class="l-globalNavigation__item">
            <a href="" class="l-globalNavigation__itemLink">MENU</a>
        </li>
        <li class="l-globalNavigation__item">
            <a href="" class="l-globalNavigation__itemLink">MENU</a>
        </li>
        <li class="l-globalNavigation__item">
            <a href="" class="l-globalNavigation__itemLink">MENU</a>
        </li>
        <li class="l-globalNavigation__item">
            <a href="" class="l-globalNavigation__itemLink">MENU</a>
        </li>
    </ul>
</nav>