<header class="l-header">
    <div class="l-header__inner">
        <div class="l-header__title">
            <a href="https://wd-flat.com/" class="l-header__titleLink"><span class="l-header__titleLogo"><noscript><img src="/img/common/logo.svg" alt=""></noscript><img src="/img/common/logo.svg" data-src="/img/common/logo.svg" alt="" class=" lazyloaded"></span>
                <span class="l-header__titleName">株式会社FLAT</span> <span class="l-header__titleDiscription">渋谷のコーディング専門プロダクション</span></a>
        </div>
        <div class="c-hamburger hamburger hamburger--squeeze js-hamburger">
            <button type="button" class="hamburger"><span class="menu-trigger"><span></span> <span></span> <span></span></span>
            </button>
        </div>
        <nav role="navigation" class="l-gnav">
            <div class="l-gnav__title"><span class="l-gnav__titleLogo"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62.916" height="43.082" viewBox="0 0 62.916 43.082"><defs><clipPath id="a"><rect width="62.916" height="43.082" class="a"></rect></clipPath></defs><g transform="translate(0 0.001)" class="b"><path d="M403.849,166.685a1.8,1.8,0,0,0-1.632-1.039h-9.88l-3.022,3.6h9.042L379.3,191.966H351.817l6.508-7.757h-4.7l-7.047,8.4a1.8,1.8,0,0,0,1.379,2.958h32.182a1.8,1.8,0,0,0,1.379-.643L403.6,168.6A1.8,1.8,0,0,0,403.849,166.685Z" transform="translate(-341.102 -152.485)" class="path"></path><path d="M367.2,157.648l22.084-26.321a1.8,1.8,0,0,0-1.379-2.958H355.718a1.8,1.8,0,0,0-1.38.644l-22.076,26.321a1.8,1.8,0,0,0,1.38,2.957h32.182A1.8,1.8,0,0,0,367.2,157.648Zm-29.7-2.958,19.056-22.72h27.488l-8.02,9.559H360.774a1.8,1.8,0,0,0-1.38.643l-10.5,12.517Zm16.093,0,8.019-9.559H373l-8.02,9.559Z" transform="translate(-331.841 -128.368)" class="path"></path></g></svg></span>
                <span class="l-gnav__titleName">株式会社FLAT</span> <span class="l-gnav__titleDiscription">渋谷のコーディング専門プロダクション </span>
            </div>
            <ul class="l-gnav__list">
                <li class="l-gnav__item _about"><a href="https://wd-flat.com/about/">会社紹介</a></li>
                <li class="l-gnav__item _info"><a href="https://wd-flat.com/info/">お知らせ</a></li>
                <li class="l-gnav__item _service"><a href="https://wd-flat.com/service/">サービス</a></li>
                <li class="l-gnav__item _works"><a href="https://wd-flat.com/works/">制作実績</a></li>
                <li class="l-gnav__item _recruit"><a href="https://wd-flat.com/recruit/">採用情報</a></li>
                <li class="l-gnav__item _contact"><a href="https://wd-flat.com/contact/">お問い合わせ</a></li>
            </ul>
        </nav>
    </div>
</header>
