@charset "utf-8";

@use "../global";

.l-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  //top: inherit !important;
  @include global.md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .l-footer__inner {
    @include global.content_width(wide);
  }
  .l-footer__copy {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include global.line_height(20, 14);
    @include global.fz(14);
  }
}
