@charset "utf-8";

@use "../global";

.l-section {
  background: global.$color_lightgray;
  width: 100%;
  & + & {
    margin-top: 40px;
    @include global.md {
      margin-top: 80px;
    }
  }
  .l-section__wide {
    @include global.content_width(wide);
  }
  .l-section__narrow {
    @include global.content_width(narrow);
  }
  .l-section__body {
    margin-top: 20px;
    @include global.md {
      margin-top: 40px;
    }
  }
}
