@charset "utf-8";

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$content_width: 1280px;
$content_width_narrow: 760px;

$color_primary: #4dbbaa;
$color_black: #000;
$color_darkgray: #787878;
$color_gray: #c4c4c4;
$color_lightgray: #f7f7f7;
$color_white: #fff;

$ease_out_quint: cubic-bezier(0.22, 1, 0.36, 1);

$header_height: 90px;
$header_height_sp: 70px;
