@charset "utf-8";

@use "../global";

//囲み 右寄せ 中央寄せ 左寄せ
.c-buttonWrap {
  display: flex;
  &._left {
    justify-content: flex-start;
  }
  &._center {
    justify-content: center;
  }
  &._right {
    justify-content: flex-end;
  }
}

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  background: global.$color_white;
  border: 1px solid global.$color_black;
  @include global.fz(13);
  & + & {
    margin-left: 10px;
  }
}
